* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glacial Indifference', sans-serif;
}

:root {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 10rem;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    margin-bottom: 11.8rem;
    text-align: center;
}

header img {
    width: 9.4rem;
    height: 9.4rem;
    object-fit: contain;
}

header ul {
    display: flex;
    gap: 3rem;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    transition: 0.2s ease-in-out;
}

header a:hover {
    color: #d52b1e;
}


#login {
    display: flex;
    align-items: center;
    background: #d52b1e;
    height: 100%;
    padding: 0 2.8rem;
    border-radius: 9.6rem 0 0 9.6rem;
    margin-right: -4rem;
}

#login a {
    color: white;
    padding: 0 1rem;
}

#login a:hover {
    opacity: 0.8;
}

.home-container {
    width: 75rem;
    margin: 40px auto;
    padding: 40px 70px;
    border-radius: 45px;
    background: #ededed;
}

.titulo-principal {
    text-align: center;
    font-size: 5.6rem;
    color: #c0392b;
    margin-bottom: 40px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    gap: 40px;
}

.texto-box h2 {
    color: #c0392b;
    font-size: 2.4rem;
    margin-bottom: 1.7rem;
}

.texto-box p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #000;
}

.home-img {
    width: 25rem;
    height: 22rem;
    border-radius: 22.5px;
    object-fit: cover;
}

.curiosidades li {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #000;
}

.img-curiosidades {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-img-small {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

hr {
    border: none;
    height: 2px;
    background: #ddd;
    margin: 40px 0;
}

.scroll-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #c0392b;
    color: white;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.scroll-top:hover {
    transform: scale(1.1);
}